<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>简单计算器</title>

</head>

<body>
    <div id="app">
        数值A: <input type="text" v-model="a"><br>
        数值B: <input type="text" v-model="b"><br>
        <button @click="sum">计算</button>
        <div>
            计算结果: <span v-text="res"></span>
        </div>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                a: "",
                b: "",
                res: ""
            },
            methods: {
                sum: function () {

                    this.res = parseInt(this.a) + parseInt(this.b);
                }
            }
        });
    </script>
</body>

</html>